body {
  font-family: "Roboto", sans-serif;
  background-color: #0f172a;
}

.card {
  background-color: #1e293b;
  color: #fff;
  border: none;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.2s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card img {
  height: 160px;
  object-fit: cover;
}

.card-body {
  color: #fff;
  background: #1e293b;
}

#countryCards {
  margin-top: 20px;
}

.card-title {
  font-weight: 600;
}

.card-text {
  font-size: 0.9rem;
  opacity: 0.8;
}

#loading {
  font-size: 1.1rem;
}
